.swipeButtons {
  position: fixed;
  bottom: 10vh;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.swipeButtons .MuiIconButton-root {
  background-color: azure;
  box-shadow: 0 10px 53px 0 rgba(0, 0, 0, 0.3) !important;
}

.sb_repeat {
  padding: 2vw !important;
  color: burlywood !important;
}
.sb_left {
  padding: 2vw !important;
  color: firebrick !important;
}
.sb_star {
  padding: 2vw !important;
  color: cornflowerblue !important;
}
.sb_right {
  padding: 2vw !important;
  color: aqua !important;
}
.sb_lightning {
  padding: 2vw !important;
  color: rgba(199, 199, 42, 0.74) !important;
}
